@font-face {
    font-family: 'minecraft';
    src: url(/res/minecraft.ttf);
}
#BarrierTop {
    font-family: 'minecraft';
}
nav {
    background-color: rgb(41, 41, 41);
    color: white;
    display: block;
    width: 100%;
    margin: 0;
}
nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    float: left;
    padding: 10px;
}
body {
    line-height: 1;
    margin: 0;
}
.nav1 {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.block-1 {
    background-image: url(/res/ussr.png);
    color: rgb(0, 97, 29);
    text-align: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 750px;
    background-position: 240px;
}
.block-2 {
    background: linear-gradient(#ffffff, #d7ffd1);
}
.block-1p {
    padding: 100px;
    text-align: center;
    color: white;  
}
#b1title {
    margin-bottom: 50px;
    padding: 10px;
}
.skldev1 {
    padding: 10px;
    text-align: center;
}
.skldev2 {
    padding: 10px;
    text-align: center;
}